<!DOCTYPE html>
<html lang = "en">
  <head>
    <title>Height Collector App</title>
    <link rel="stylesheet" href ="{{url_for('static',filename='../static/main.css')}}"/>
  </head>
  <body>
    <div class='main_div'>
      <h1>Collecting Heights</h1>
      <form class = "user_input" method = "POST">
        <label for="mail">Enter mail:</label>
        <input type="mail" id="mail" name = "mail"/>
        <label for="mail">Enter height:</label>
        <input type="text" id="height" name = "height"/>
        <input type = "submit">
      </div>
    </div<
  </body>
</html>
